h2{
   background-color:#5599DD;
   color:#DDDDDD;
   padding-top:5px;
   padding-left:10px;
}

.exp{
   text-indent:50px;
}

#e-mail{
   text-decoration:underline;
   font-style:italic;
}

#assinatura{
   text-decoration:overline;
}
.tec{
   font-style:italic;
}
body{
   font-family:sans-serif;
   width:940px;
   margin-right:auto;
   margin-left:auto;
}
#cabecalho{
   text-align:center;
}
#tamCorpo{
   width:960px;
   margin-left: auto;
   margin-right: auto;
}
